{%extends 'all-photos/base.html'%}
{% block content %} 
{{ block.super}}
<br>
<br>
<div class="container">
  <h3 style="text-align: center;">Welcome to the home of Football</h3>
</div>
<br>
<div class="col-sm-4 col-md-4 navbar-right">
  
  <form class="navbar-form" role="search" action="{% url 'search_results' %}">
    <div class="dropdown" id="dropdowns">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Location Filter
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="{% url 'artphotos' %}">All</a></li>
        {% for location in locations %}
        <li><a class="dropdown-item" href="{% url 'artphotos' %}?location={{location.location}}">{{location.location}}</a></li>
        {% endfor %}
        <br>

      </ul>

    </div>

  </form>
</div>



    <!--Display news Article images  -->
    <div class="container">
    <div class="row">
    {% for photo in photos %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
        <a href="{% url 'photo' photo.id %}"><img class="img-fluid" src="{{photo.image.url}}" style="height: 200px; width: 400px; " alt="">
          <div class="overlay"></a>
          
             <h4>{{photo.name}}</h4>
             <!-- <h6>{{photo.description}}</h6> -->
          </div>
      </div>
    </div>
  

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No Photos</h2>
  </div>
  {% endfor %}

</div>

{% endblock %}