{%extends 'all-photos/base.html'%}
{% block content %} 
{{ block.super}}
<br>
<br>
<div class="container">
  <h3 style="text-align: center;">Welcome to the home of Football</h3>
</div>
<br>


    <!--Display news Article images  -->
    <div class="container">
    <div class="row">
    {% for photo in photos %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
        <a href="{% url 'photo' photo.id %}"><img class="img-fluid" src="{{photo.image.url}}" style="height: 200px; width: 400px; " alt="">
          <div class="overlay"></a>
          
             <h4>{{photo.name}}</h4>
             <!-- <h6>{{photo.description}}</h6> -->
          </div>
      </div>
    </div>
  

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No Photos</h2>
  </div>
  {% endfor %}

</div>

{% endblock %}